/**
 * AkaTek
**/
// chart section

.chart {
    background: $secondary;
    padding: 60px 0;

    &_shapes {
        display: none;
    }

    &_header {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }

    &_slider {

        &-nav {
            margin-top: 30px;
        }

        &-controls {
            display: none;
        }

        .swiper-slide {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            .slide {
                width: 100%;
                max-width: 270px;
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .chart {
        &_slider {
            position: relative;

            &-controls {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                   -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                -webkit-align-items: center;
                   -moz-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                   -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                width: 100%;
                color: #fff;
                font-size: 34px;
                z-index: 10;

                .control {
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .chart {
        padding: 100px 0 150px;

        &_header {
            margin-bottom: 40px;
        }

        &_slider {
            max-width: 920px;

            .swiper-slide {
                width: -webkit-calc(100% / 3);
                width: -moz-calc(100% / 3);
                width: calc(100% / 3);
                -webkit-transition: .4s ease-in-out;
                -o-transition: .4s ease-in-out;
                -moz-transition: .4s ease-in-out;
                transition: .4s ease-in-out;

                &:not(.swiper-slide-visible) {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .chart {
        padding: 120px 0 130px;
        position: relative;

        &_shapes {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;

            .group {
                position: absolute;

                &--left {
                    max-width: 300px;
                    bottom: -150px;
                    left: -70px;

                    .circle {
                        position: absolute;
                        max-width: 30px;
                        top: 90px;
                        right: 0;

                        &--big {
                            -webkit-border-radius: 50%;
                               -moz-border-radius: 50%;
                                    border-radius: 50%;
                            width: 120px;
                            max-width: unset;
                            height: 120px;
                            border: 1px solid #fff;
                            top: -171px;
                            right: 28px;
                            opacity: .9;
                        }
                    }
                }

                &--right {
                    top: 0;
                    right: -70px;
                    max-width: 400px;

                    .circle {
                        position: absolute;
                        top: 40px;
                        right: 350px;
                        max-width: 40px;
                    }

                    .shape {
                        max-width: 400px;
                        -webkit-transform: rotate(40deg);
                           -moz-transform: rotate(40deg);
                            -ms-transform: rotate(40deg);
                             -o-transform: rotate(40deg);
                                transform: rotate(40deg);
                        top: 400px;
                        position: relative;
                        &--rotate {
                            -webkit-transform: rotate(-20deg);
                               -moz-transform: rotate(-20deg);
                                -ms-transform: rotate(-20deg);
                                 -o-transform: rotate(-20deg);
                                    transform: rotate(-20deg);
                            right: -85px;
                            position: absolute;
                            top: -40px;
                        }
                    }
                }
            }
        }

        .container {
            position: relative;
            z-index: 2;
        }

        &_header {
            margin-bottom: 50px;
        }

        &_slider {
            .swiper-slide {
                width: -webkit-calc(100% / 5);
                width: -moz-calc(100% / 5);
                width: calc(100% / 5);
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .chart {
        &_shapes {
            .group {
                &--left {
                    .circle {
                        &--big {
                            top: -319px;
                            right: 38px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .chart {
        &_shapes {
            .group {
                &--left {
                    max-width: 450px;

                    .circle:not(.circle--big) {
                        top: 290px;
                        right: 83px;
                    }
                }

                &--right {
                    max-width: 500px;

                    .circle {
                        right: 550px;
                    }

                    .shape {
                        max-width: 500px;
                        right: -190px;
                        &--rotate {
                            right: -135px;
                        }
                    }
                }
            }
        }
    }
}