/**
 * AkaTek
**/
@mixin font-face($name, $file, $weight, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: local("#{$file}"),
        url('../fonts/#{$file}.tff') format('tff');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin neonEl() {
    background: $accent;
    color: $headerColor;
    border: $border;
    -webkit-box-shadow: 3px 3px 0 $accent;
       -moz-box-shadow: 3px 3px 0 $accent;
            box-shadow: 3px 3px 0 $accent;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    &:hover, &:focus {
        -webkit-box-shadow: 6px 6px 0 $headerColor;
           -moz-box-shadow: 6px 6px 0 $headerColor;
                box-shadow: 6px 6px 0 $headerColor;
    }
}

@mixin caret() {
    position: absolute;
    background: $accent;
    width: 22px;
    height: 13px;
    -webkit-animation: blink 0.9s infinite both;
       -moz-animation: blink 0.9s infinite both;
         -o-animation: blink 0.9s infinite both;
            animation: blink 0.9s infinite both;
}