/**
 * AkaTek
**/
// text
$bodyFont: "Open Sans", sans-serif;
$bodyText: #28313D;
$headerFont: "Nunito-Regular", monospace;
$headerColor: #1B2129;

// template colors
$primary: #a52a2a;
$secondary: #ff7b02;
$accent: #29F3AF;
$lightgray: #F8F8FF;

// effects
$shadow: 3px 3px 0 $accent;
$border: 1px solid $headerColor;